/* line 3, ../sass/board.scss */
.board {
  text-align: center;
}

/* line 7, ../sass/board.scss */
.form-box {
  display: table;
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* line 14, ../sass/board.scss */
.inner-box {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/* line 20, ../sass/board.scss */
.box-content {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border: 1px solid #e2e2e2;
  background: #41b2bd;
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
