/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Borden;
  src: url("../fonts/33A051_0_0.eot");
  src: url("../fonts/33A051_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/33A051_0_0.woff2") format("woff2"), url("../fonts/33A051_0_0.woff") format("woff"), url("../fonts/33A051_0_0.ttf") format("truetype");
}
body,
html {
  font-family: 'Roboto';
  color: #fff;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Borden';
}

.inline-block {
  margin: 10px 0;
  display: block;
  text-align: left;
  font-size: 18px;
}

.span-label {
  display: block;
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px;
}
