@import "compass";

.board {
  text-align: center;
}

.form-box {
  display: table;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.inner-box {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.box-content {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border: 1px solid #e2e2e2;
  background: #41b2bd;
  @include box-shadow(2px 2px 3px 0px rgba(0, 0, 0, 0.1));
}