/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face{
	font-family: Borden;
	src: url('../fonts/33A051_0_0.eot');
	src: url('../fonts/33A051_0_0.eot?#iefix') format("embedded-opentype"), 
		 url('../fonts/33A051_0_0.woff2') format("woff2"), 
		 url('../fonts/33A051_0_0.woff') format("woff"),
		 url('../fonts/33A051_0_0.ttf') format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Roboto');


body, 
html {
	font-family: 'Roboto';
	color: #fff;
}

h1 {
	font-size: 60px;
	font-weight: 600;
	font-family: 'Borden';
}

.inline-block {
    margin: 10px 0;
    display: block;
    text-align: left;
    font-size: 18px;
}

.span-label {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px;
}
